<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{block title}Framewire | PHP Framework{/block}</title>
    <link rel="stylesheet" href="/dist/index.css" />
</head>
<body>
{block content}{/block}
</body>
</html>
